cibPayJob/.classpath
cibPayJob/.project
cibPayJob/.settings
cibPayJob/target
cibPayJob/bin
cibPayJob/.idea/*

cibPay/.classpath
cibPay/.project
cibPay/.settings
cibPay/target
cibPay/bin
cibPay/.idea/*
cibPay/src/test/*
cibPay/cibPay.iml
cibPay/src/main/resources/jdbc.properties

cibPay-service/.classpath
cibPay-service/.project
cibPay-service/.settings
cibPay-service/target
cibPay-service/bin
cibPay-service/.idea/*
cibPay-service/cibPay-service.iml


.idea/*
target/*
*.iml
*.classpath
*.project
*.settings